
.centered {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#wide {
  margin: 10px auto;
}

body {
  padding: 10px;
  background: rgb(34,71,195);
  background: linear-gradient(0deg, rgb(207, 207, 207) 0%, rgba(45,180,253,1) 100%); 
  height: 100%;
  width: 100%;
}
