<html>
  <head>
    <title>{{.Title}} - OnlineBooks</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/listing.css">
    <script src="/static/js/jquery-3.5.1.js"></script>
    <script async defer src="/static/js/popper.min.js"></script>
    <script async defer src="/static/js/bootstrap.js"></script>
    <script>
      const listing_price = {{.Price}};
      const listing_id = {{.ID}};
      const status = {{.Status}};
    </script>
    <script src="/static/js/listing.js"></script>
    <script src="/static/js/update_listing.js"></script>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">OnlineBooks</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Browse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create_listing">Create</a>
          </li>
        </ul>

        <!--
        <div class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" disabled>
          <button class="btn btn-outline-success my-2 my-sm-0" disabled>Search</button>
        </div>
        -->
        
      </div>
    </nav>

    <div class="container">

    <div class="row">
      <div class="col"><h2 id="lst-title">{{.Title}}</h2></div>
    </div>
    <div class="row" id="lst">
      <div class="col-6 well">
        <h5>Description</h5>
        <p id="lst-desc">{{.Description}}</p>
      </div>
      <div class="col-3">
        <div id="details-div" class="well">
          <h5>Details</h5>
          <p>Status: {{.Status}}</p>
          <p>Category: {{.Category}}</p>
          <p>ISBN: {{.ISBN}}</p>
          <p>Seller: {{.SellerName}}</p>
        </div>

      </div>
      <div class="col-3">
        <div id="price-div" class="well">
          <h5>Price</h5>
          <h3 id="lst-price">${{.Price}}</h3>
          <input type="text" id="buyer_name" placeholder="Buyer Name">
          <input type="text" id="buyer_billing" placeholder="Billing Info">
          <input type="text" id="buyer_shipping" placeholder="Shipping Info">
          <button id="purchase-btn" class="btn btn-success" onclick="purchase()">Purchase</button>
        </div>

        <div id="manage-div" class="well">
          <!-- add password text and delete button here -->
          <div class="form-group">
            <label for="listing_password">Enter password to manage listing:</label>
            <input type="password" id="listing_password" name="listing_password" class="form-control">
          </div>
          <div class="row" id="manage-buttons">
            <button onclick="submit_form_password()" class='btn btn-danger'>Delete</button>
            <button onclick="get_private_details()" class='btn btn-success'>Get Private Details</button>
            <!--<button onclick="updateCheckPass()" class='btn btn-success'>Update Listing</button>-->
           
          </div>
        </div>
  
        <div class="well">

          <a href="/listing/{{.ID}}/update" class='btn btn-success' >Update Details of this Listing</a>
        </div>

      </div>
    </div>
    
  </div>   
    
    
  </body>
</html>